* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .wrapper {
  height: 100vh;
  width: 100vw;
}
.admin {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  height: 40%;
  border: solid;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 500px;
  margin: 150px auto;
}
.item-image img {
  margin: 60px 0 0 30px;
  height: 200px;
}

.form-group {
  font-size: 700;
  width: 200px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: -30px;
}
.btn {
  margin: 0 20px 40px 60px;
} */
.wrapper {
  height: 100vh;
  width: 100vw;
}
.admin {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  height: 73.5vh;
}
.row {
  border: solid;
  width: 80%;
  margin-top: 30px;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-bottom: 40px;
}
.form-group {
  margin: 30px 0 0 0;
}
.item-image img {
  height: 200px;
  margin-left: 20%;
  margin-top: 40px;
}
.footer {
  padding: 0 20px;
  height: 85px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgba(8, 51, 120, 0.9);
  /* background-color: rgba(8, 51, 120, 0.9);
  color: white;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  width: 100%;
  min-height: 10vh; */
}
